
/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;
  --font-semi: 600;
}

/*===== Color Palette from https://www.color-hex.com/color-palette/14256=====*/
:root{
  --first-color: red;
  --second-color: blue; 
  --third-color: #8b888e;
  --fourth-color: #4f9bd9;

}

/*===== Type =====*/
:root{
  --body-font: 'Montserrat', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 2rem;
  --normal-font-size: 0.938rem;
}
@media screen and (min-width: 768px){
  :root{
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

/*===== Margins =====*/
:root{
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/*===== z index =====*/
:root{
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  margin: 0 auto;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--third-color);
  /* overflow: hidden; */
  text-align: center;
  /* background-color: black; */
  transition: ease-in-out .8s;
}

.container {
  width: min(100% - 2rem, 900px);
  margin-inline: auto;
}
h1,h2,p{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
  color: var(--second-color);
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
.section-title{
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-5);
  text-align: center;
}
.section-title::after{
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: .5rem auto;
  top: 2rem;
  background-color: var(--first-color);
}
.section{
  padding-top: 3rem;
  padding-bottom: 5rem;
  margin: 3rem auto;
}

/*===== LAYOUT =====*/
.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;

  margin: 0 auto;
}
.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #000;
  /* box-shadow: 0 1px 4px rgba(146,161,176,.15); */
}

/*===== NAV =====*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}
@media screen and (max-width: 768px){
  .nav__menu{
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 40%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: .5s;
  }
}
.nav__item{
  margin-bottom: var(--mb-4);
}
.nav__link{
  position: relative;
  color: #fff;
  text-transform: uppercase;
}
.nav__link:hover{
  position: relative;
}
.nav__link:hover::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}
.nav__logo img{
  color: var(--second-color);
  width: auto;
  height: 50px;
}

.change-bg-btn {
  cursor: pointer;
  color: white;
  background-color: black;
  padding: 0 1em;
  font-size: 1.2rem;
  opacity: .7;
}
.change-bg-btn:hover {
  opacity: 1;
}

.dark {
  background-color: #000;
}
.nav__toggle{
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*Active menu*/
.active::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

/*=== Show menu ===*/
.show{
  right: 0;
}

/*===== HOME =====*/
.home{
  height: calc(100vh - 3em);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
}
.home__name {
  padding: 1.5em;
}
.home__data{
  align-items: flex-start;
}
.home__title{

}
.home__title-color{
  color: var(--first-color);
  font-family: 'Titan One', cursive;
  font-size: var(--big-font-size);
  text-transform: uppercase;
  background-image: linear-gradient(90deg, red, blue);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.home__social{
  display: flex;
  justify-content: space-evenly;
  padding: 1.5em 1.5em;
}
.home__social-icon{
  width: max-content;
  font-size: 1.5rem;
  color: var(--second-color);
}
.home__social-icon:hover{
  color: var(--first-color);
}
.home__img {
  width: 20em;
  align-self: flex-end;
}
.home__img img {
  width: 30em;
}
.home .button {
  margin: 1.5rem 0;
}

/*BUTTONS*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: .75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: .5rem;
  border: 2px solid var(--first-color);
}
.button:hover{
  color: var(--second-color);
  background: none;
  border: 2px solid var(--first-color);
}

/* ===== ABOUT =====*/
.about {
  background-color: #000;
  color: white;
  height: calc(90vh - 3em);
}
.about section {
  background-color: var(--second-color);
}
.about__container{
  row-gap: 2rem;
  text-align: center;
}
.about__subtitle{
  margin-bottom: var(--mb-2);
}
.about__img{
  justify-self: center;
}

.about__img img {
  width: 50%;
  margin: auto;
  opacity: .5;
}

.about__img img:hover {
  transform: translate3d(0, -5px, 0);
  transition: all .5s ease-in-out;
  opacity: 1;
}

.about__text {
  font-size: 1.1rem;
  line-height: 1.5;
}

.about__text-blogs {
  color: var(--first-color);
  font-size: 1.2rem;
}


/* ===== WORK =====*/

.work__container{
  /* row-gap: 2rem; */
}
.work__img{
  box-shadow: 0 4px 25px rgba(14,36,49,.15);
  border-radius: .5rem;
  overflow: hidden;
  display: grid;
  
}

.vertical__line {
  position: absolute;
  height: 100vh;
  background-color: red;
  width: 5px;
  left: 50%;
  margin: 0 auto;
}
.work__img img{
  transition: 1s;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}
.work__img img:hover{
  transform: scale(1.1);
}

.work .overlay {
  opacity: .8;
  color: white;
  text-align: center;
  height: 0;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  background-color: var(--third-color);
  height: 100%;
  width: 100%;
  transition: 0.5s;
  transform: translateY(100%);
  cursor: pointer;
  display: block;
  padding: 2em;
}
.work a {
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--second-color);
  background-color: white;
  padding: .5em;
  border-radius: 5px;
}
.work__img:hover .overlay {
  transform: translateY(50%);
}

.work__tech {
  padding: .5em;
}
.work a:hover {
  background-color: var(--first-color);
  color: white;
 
}

/* ===== TESTIMONIALS =====*/
.testimonials {
  color: var(--third-color);;
  display: grid;
  grid-template-columns: auto;
  text-align: center;
 
}
.testimonials .user {
  grid-gap: 2em;
  border: 2px solid var(--second-color);
  padding: 3em 1em 2em;
  margin: 1em 0;

}

.user {
  position: relative;
  display: grid;
  align-content: center;
}
.user:hover {
  transform: translate3d(0, -5px, 0);
  box-shadow: var(--third-color) 0 5px 10px 0 ;
  transition: all .5s ease-in-out;
  color: white;
}
.user p {
  font-size: 1.5em;
  color: #000;
}
.user h3 {
  font-size: 1em;
}
.user p::before{
  content: '\201C';
  font-size: 80px;
  height: 0;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
}


/* ===== SKILLS =====*/

.skills__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.skills__item {
  border: 1px rgb(218, 45, 45) solid;
  padding: .5em;
  width: 30%;
  margin: 10px;
}
/* .skills__item + .skills__item {
  margin-left: .5em;
} */
.skills__item:hover {
  background-color: rgba(255, 0, 0, 0.507);
  color: white;
}
/* ===== CONTACT =====*/
.contact__input{
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: .5rem;
  border: 1.5px solid var(--second-color);
  outline: none;
  margin-bottom: var(--mb-4);
}
/* .contact__button{
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-left: auto;
} */

/* ===== FOOTER =====*/
.footer{
  background-color: var(--third-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: .5rem 0;
  text-transform: uppercase;
}
.footer__title{
  font-size: 1.5rem;
  margin-bottom: var(--mb-3);
}
.footer__social{
  margin-bottom: var(--mb-1);
}
.footer__icon{
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2)
}
.footer p {
  margin: .5em 0;;
  
}

.footer__icon:hover{
  color: var(--first-color);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px){
  body{
    margin: 0 auto;
  }
  .section{
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin: 5rem auto;
  }
  .section-title{
    margin-bottom: var(--mb-6);
  }
  .section-title::after{
    width: 80px;
    top: 2rem;
  }
  .nav{
    height: calc(var(--header-height) + 1rem);
  }
  .nav__list{
    display: flex;
    padding-top: 0;
  }
  .nav__item{
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle{
    display: none;
  }
  .nav__link{
    color: var(--second-color);
  }
  .home{
    height: 100vh;
    grid-template-columns: auto 1fr;
  }
  .home__data{
    justify-content: center;
  }
  .home__img{
    justify-content: flex-end;
    width: 25em;
    bottom: 25%;
  }

  .about__container {
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    text-align: initial;
  }
  .about__text {
    font-size: 1.2rem;
  }
  .about__img img{
    width: 300px;
  }
  .work__container{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 2rem;
  }
  .testimonials {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
  }
  .testimonials .user {
    min-height: 300px;
  }
  .testimonials .user p {
    font-size: 1.2rem;
  }
  .contact__form{
    width: 360px;
  }
  .contact__container{
    justify-items: center;
  }
}

@media screen and (min-width: 1024px){

  .home__img{
    right: 10%;
  }
  .testimonials .user {
    min-height: 200px;
  }
}
